* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding: 15px;
}

.input-output {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
}

.input-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
}

.output-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
}

.input {
    width: 100%;
    resize: vertical;
}

.output {
    border: 4px solid #aaaaaa;
    padding: 5px;
    white-space: pre;
}

.error {
    color: red;
}
